<%= form_with(model: [@user, @social_account], local: true) do |form| %>
  <% if @social_account.errors.any? %>
    <%= render 'users/flash_messages'%>
  <% end %>

  <p>
    <%= form.label I18n.t 'social_accounts.attributes.social_network'%>
    <%= form.select(:social_network, options_for_select(get_supported_social_networks)) %>
  </p>
  <p>
      <%= form.label I18n.t 'social_accounts.attributes.username' %>
      <%= form.text_field :user_name %>
  </p>

  <p>
    <%= form.submit I18n.t 'user.edit.add_social_account_label'%>
  </p>
<% end %>
