<%= form_with(model: [@user, @social_account], local: true) do |form| %>
    <% if @social_account.errors.any? %>
      <div id="error_explanation">
        <% flash.each do |level, log| %>
            <div class='alert alert-<%= level %>'>
              <h4><%= log[:heading] %></h4>
              <% log[:messages].each do |message| %>
                <ul>
                  <li><%= message %></li>
                </ul>
              <% end %>
            </div>
        <% end %>
      </div>
  <% end %>

  <p>
    <%= form.label I18n.t 'social_accounts.attributes.social_network'%>
    <%= form.select(:social_network, options_for_select(get_supported_social_networks)) %>
  </p>
  <p>
      <%= form.label I18n.t 'social_accounts.attributes.username' %>
      <%= form.text_field :user_name %>
  </p>

  <p>
    <%= form.submit I18n.t 'user.edit.add_social_account_label'%>
  </p>
<% end %>
