<%= form_with(model: [@user, social_account], local: true) do |form| %>
  <% if self.controller.is_a?(SocialAccountsController) %>
    <!-- If a different controller is rendering this view, it is not trying to save a note, so possible validation errors are not relevant -->
    <% if social_account.errors.any? %>
      <div id="error_explanation">
        <h4><%= I18n.t 'errors.messages.not_saved.other', count: social_account.errors.count, resource: SocialAccount %></h4>
        <ul>
          <% social_account.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <p>
    <%= form.label I18n.t 'social_accounts.attributes.social_network'%>
    <%= form.select(:social_network, options_for_select(get_supported_social_networks)) %>
  </p>
  <p>
      <%= form.label I18n.t 'social_accounts.attributes.username' %>
      <%= form.text_field :user_name %>
  </p>

  <p>
    <%= form.submit I18n.t 'user.edit.add_social_account_label'%>
  </p>
<% end %>
