<div class="card shadow rounded-lg">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <a href=<%= generate_link(social_account) %>>
            <i class="fa <%= generate_icon(social_account) %> fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-3">
          <%= social_account.user_name %>
        </div>
        <div class="col-6">
          <%= link_to (fa_icon 'eye'), generate_link(social_account), style: 'padding: 10px'%>
          <%= link_to (fa_icon 'edit'), edit_user_social_account_path(user, social_account), style: 'padding: 10px'%>
          <%= link_to (fa_icon 'trash'), user_social_account_path(user, social_account), style: 'padding: 10px', method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>


</div>

