<h1><%=  I18n.t 'social_accounts.edit.heading' %></h1>

<%= form_with(model: [@user, @social_account], local: true) do |form| %>
    <% if @social_account.errors.any? %>
      <div id="error_explanation">
        <% flash.each do |level, log| %>
            <div class='alert alert-<%= level %>'>
              <h4><%= log[:heading] %></h4>
              <% log[:messages].each do |message| %>
                <ul>
                  <li><%= message %></li>
                </ul>
              <% end %>
            </div>
        <% end %>
      </div>
  <% end %>

  <div class="field">
    <%= form.label I18n.t 'social_accounts.attributes.social_network' %>
    <%= form.select(:social_network, options_for_select(get_supported_social_networks)) %>
  </div>

  <div class="field">
    <%= form.label I18n.t 'social_accounts.attributes.username'  %>
    <%= form.text_field :user_name %>
  </div>

  <div class="actions">
    <%= form.submit I18n.t 'social_accounts.edit.update_label'%>
  </div>
<% end %>

<%= link_to (I18n.t 'social_accounts.edit.back_label'), edit_user_path(@user) %>
