<h1>Edit Social Account</h1>

<%= form_with(model: [@user, @social_account], local: true) do |form| %>
  <% if @social_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t 'errors.messages.not_saved.other', count: @social_account.errors.count, resource: SocialAccount %></h2>
      <ul>
        <% @social_account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :social_network %>
    <%= form.select(:social_network, options_for_select(get_supported_social_networks)) %>
  </div>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', edit_user_path(@user) %>
