<h1>Edit Social Account</h1>

<%= form_with(model: [@user, @social_account], local: true) do |form| %>
  <div class="field">
    <%= form.label :social_network %>
    <%= form.text_field :social_network %>
  </div>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', edit_user_path(@user) %>
