<%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class=user-card>
  <div class="user-information">
    <label class="user-card-link">
      <%= link_to "", user_path(user), class: "custom-link" %>
      <div class="profile-image my-2 my-sm-0 ">
        <%= render 'users/avatar', user: user, size: 65, classes: %i[rounded-circle] %>
      </div>
      <div class="user-attributes my-2 my-sm-0">
        <h5><%= user.display_name%></h5>
        <div class="email"><%= user.email %></div>
      </div>
    </label>
    <% if mode == :add %>
        <div class="col-1">
            <%= form_with url: user_contact_requests_path(user), remote: true, id: "add-contact-form-#{user.id}" do |f| %>
              <%= button_tag(type: 'submit', class: 'fa fa-3x fa-plus-circle user-contact-add-button', title: I18n.t('user.contact_request.send')) do %>
              <% end %>
            <% end %>
          </div>
    <% end %>
    <% if mode == :call %>
      <%= form_with model: JitsiCall.new, id: "init-call-#{user.id}" do |f| %>
          <%= f.hidden_field :guest_id, value: user.id %>
          <%= button_tag(type: 'submit', class: "fa fa-phone fa-flip-horizontal phone-button") do %>
          <% end %>
      <% end %>
    <% end %>
  </div>
  <% if mode == :overview %>
    <% if user.social_accounts.any? %>
      <div class="user-social-account-info">
        <% user.social_accounts.each do |social_account| %>
          <label class="user-card-link">
            <a class="custom-link" href=<%= generate_link(social_account) %>>
              <i class="fa <%= generate_icon(social_account) %> fa-2x" aria-hidden="true"></i>
            </a>
          </label>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

