<%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class=contact-card>
  <label class="contact-link">
    <% if mode == :overview %>
      <%= link_to "", user_path(user) %>
    <% end %>
    <div class="profile-image my-2 my-sm-0 ">
      <img src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" class="rounded-circle cover">
    </div>
    <div class="user-info my-2 my-sm-0">
      <h5><%= "#{user.firstname} #{user.lastname}"%></h5>
      <div class="email"><%= user.email %></div>
    </div>
    <% if mode == :add %>
      <%= button_to "+" , user_contact_requests_path(user), method: :post, id: user.id, class: "add_button btn btn-secondary"%>
    <% end %>
  </label>
  <% if mode == :overview %>
    <div class="social-account-info">
      <% user.social_accounts.each do |social_account| %>
        <label class="contact-link">
          <a href=<%= generate_link(social_account) %>>
            <i class="fa <%= generate_icon(social_account) %> fa-2x" aria-hidden="true"></i>
          </a>
        </label>
      <% end %>
    </div>
  <% end %>
</div>
