<div class="jumbotron">
  <h2><%= I18n.t('user.lists') %></h2>

  <%# https://getbootstrap.com/docs/5.0/layout/grid/#auto-layout-columns %>


  <div class="row">
    <div class="col">
      <%= form_tag(users_path, method: "get") do %>
        <%= label_tag(:search, I18n.t('user.search.for') ) %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag I18n.t('user.search.index') %>
      <% end %>
    </div>
  </div>

  <table>
    <tbody>

    <% @users.each do |user| %>
      <%= render partial: 'users/card', locals: { user: user, mode: :add } %>
      <br>
    <% end %>

    </tbody>
  </table>
</div>
