<%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="stack">
  <%= form_tag(search_users_path, method: "get", class: "form-tag justify-content-between") do %>
    <%= text_field_tag :search, params[:search] , placeholder: I18n.t('user.search.place_holder'), class: "text-field form-control my-2 my-sm-0"%>
    <%= submit_tag I18n.t('user.search.index') , class: "submit-button btn btn-outline-secondary my-2 my-sm-0"%>
  <% end %>

  <% @users.each do |user| %>
    <%= render partial: 'users/card', locals: { user: user, mode: :overview } %>
  <% end %>

  <% @users_to_add.each do |user| %>
    <%= render partial: 'users/card', locals: { user: user, mode: :add } %>
  <% end %>

</div>

