<div class="jumbotron">
    <h2>Users</h2>
    <table>
      <thead>
      <tr>
        <th>Username</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <%= form_tag("/users/search", method: "get") do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>

      <% @results.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.firstname %></td>
          <td><%= user.lastname %></td>
          <td><%= user.email %></td>
          <td><%= button_to '+', user_contact_requests_path(user), method: :post, id: user.id %></td>
        </tr>
      <% end %>

      </tbody>
    </table>
</div>