<!-- Todo: move styling to css file -->

<style>
    .form-tag {
        display: flex;
        width: 100%;
    }
    .text-field {
        flex: 5;
        margin: 3px;
    }
    .submit-button {
        flex: 1;
        margin: 3px;
    }
    .stack {
        display: flex;
        flex-direction: column;
    }
    .stack > * + * {
        margin-top: .5rem;
    }
    .contact {
        border-radius: 8px;
        padding: 5px;
        box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    }
    .contact-info {
        display: flex;  
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .social-account-info {
        margin-top: .5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;  
    }
    .profile-image{
        padding: 2px;
        flex: 1;
        margin-right: 8px;
        padding-top: calc(.5 * 1.5rem);
        padding-bottom: calc(.5 * 1.5rem);
    }
    img {
        height: 75px;
        width: 75px;
    }
    @media screen and (max-width: 600px) {
        img {
            height: 50px;
            width: 50px;
        }
    } 
    .cover {
      object-fit: cover;
    }
    .user-info{
        flex: 4;
        display: block;
        line-height: 50%;

    }
    a::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .email {
         font-style: italic;
         font-size: small;
    }
    .add_button {
        flex: 1;
        height: 100%;
        width: 100%;
        border-radius: 99999px;
        background: #343B3F;
        font-size: small;
    }

</style>

<div class="stack">
  <%= form_tag(search_users_path, method: "get", class: "form-tag justify-content-between") do %>
    <%= text_field_tag :search, params[:search] ,placeholder: "Username, email, ...", class: "text-field form-control my-2 my-sm-0"%>
    <%= submit_tag I18n.t('user.search.index') , class: "submit-button btn btn-outline-secondary my-2 my-sm-0"%>
  <% end %>


 <% @contacts.each do |user| %>
    <div class=contact>
        <label class="contact-info">
            <%= link_to "", user_path(user) %>
            <div class="profile-image my-2 my-sm-0 ">
                 <img src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" class="rounded-circle cover">
            </div>
            <div class="user-info my-2 my-sm-0">
                <h5><%= "#{user.firstname} #{user.lastname}"%></h5>
                <div class="email"><%= user.email %></div>
            </div>
        </label>
        <div class="social-account-info">
            <% user.social_accounts.each do |social_account| %>
                <label class="contact-info">
                    <a href=<%= generate_link(social_account) %>>
                        <i class="fa <%= generate_icon(social_account) %> fa-2x" aria-hidden="true"></i>
                    </a>
                </label>
            <% end %>
        </div>
    </div>
 <% end %>

<% @users.each do |user| %>
<div class=contact>
    <label class="contact-info">
        <div class="profile-image my-2 my-sm-0 ">
             <img src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" class="rounded-circle cover">
        </div>
        <div class="user-info my-2 my-sm-0">
            <h5><%= "#{user.firstname} #{user.lastname}"%></h5>
            <div class="email"><%= user.email %></div>
        </div>
        <% if @user %>
            <%= button_to "+" , user_contact_requests_path(user), method: :post, id: user.id, class: "add_button btn btn-secondary"%>
        <% end %>
    </label>
    </div>
<% end %>

</div>

