
      <%# https://getbootstrap.com/docs/5.0/layout/grid/#auto-layout-columns %>
    <div class="row">
          <%= form_tag(search_users_path, method: "get",  style: "display: flex; width: 100%") do %>
            <%= text_field_tag :search, params[:search] , style: "flex: 5", class: "form-control mr-sm-2"%>
            <%= submit_tag I18n.t('user.search.index') , style: "flex: 1", class: "btn btn-outline-secondary my-2 my-sm-0", type: "button"%>
          <% end %>
    </div>

    <table>
        <thead>
            <tr>
                <th><%= I18n.t('user.attributes.username') %></th>
                <th><%= I18n.t('user.attributes.firstname')%></th>
                <th><%= I18n.t('user.attributes.lastname')%></th>
                <th><%= I18n.t('user.attributes.email')%></th>
            </tr>
        </thead>
        <tbody>

        <% @contacts.each do |user| %>
          <tr>
            <td><%= user.username%></td>
            <td><%= user.firstname%></td>
            <td><%= user.lastname%></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>

        <% @users.each do |user| %>
          <tr>
            <td><%= user.username%></td>
            <td><%= user.firstname%></td>
            <td><%= user.lastname%></td>
            <td><%= user.email %></td>
            <td><%=  button_to '+', user_contact_requests_path(user), method: :post, id: user.id  %></td>
          </tr>
        <% end %>

        </tbody>
    </table>

