<!-- Todo: move styling to css file -->

<style>
    .form-tag {
        display: flex;
        width: 100%;
    }
    .text-field {
        flex: 5;
        margin: 3px;
    }
    .submit-button {
        flex: 1;
        margin: 3px;
    }
    .stack {
        display: flex;
        flex-direction: column;
    }
    .stack > * + * {
        margin-top: 1rem;
    }
    .contact {
        display: flex;
        border: 2px solid #D1D5DB;
        border-radius: 2px;
        padding: 5px;
        position: relative;
    }
    .profile-image{
        padding: 2px;
        flex: 1;
        margin-right: 8px;
        padding-top: calc(.5 * 1.5rem);
        padding-bottom: calc(.5 * 1.5rem);
    }
    img {
        height: 75px;
        width: 75px;
    }
    @media screen and (max-width: 600px) {
        img {
            height: 100%;
            width: 100%;
        }
    } 
    .cover {
      object-fit: cover;
    }
    .user-info{
        flex: 4;
        display: block;
    }
    a::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .email {
         font-style: italic;
    }

</style>

<div class="stack">
  <%= form_tag(search_users_path, method: "get", class: "form-tag justify-content-between") do %>
    <%= text_field_tag :search, params[:search] ,placeholder: "Username, email, ...", class: "text-field form-control my-2 my-sm-0"%>
    <%= submit_tag I18n.t('user.search.index') , class: "submit-button btn btn-outline-secondary my-2 my-sm-0"%>
  <% end %>


 <% @users.each do |user| %>
    <label class="contact">
        <%= link_to "", user_path(user) %>
        <div class="profile-image my-2 my-sm-0 ">
             <img src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" class="rounded-circle cover">
        </div>
        <div class="user-info my-2 my-sm-0">
            <h5><%= user.username%></h5>
            <div><%= "#{user.firstname} #{user.lastname}"%></div>
            <div class="email"><%= user.email %></div>
            <div>Friend</div>
        </div>
    </label>
 <% end %>
</div>



</div>
<!-- <table>
    <thead>
        <tr>
            <th><%= I18n.t('user.attributes.username') %></th>
            <th><%= I18n.t('user.attributes.firstname')%></th>
            <th><%= I18n.t('user.attributes.lastname')%></th>
            <th><%= I18n.t('user.attributes.email')%></th>
        </tr>
    </thead>
    <tbody>

    <% @contacts.each do |user| %>
      <tr>
        <td><%= user.username%></td>
        <td><%= user.firstname%></td>
        <td><%= user.lastname%></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.username%></td>
        <td><%= user.firstname%></td>
        <td><%= user.lastname%></td>
        <td><%= user.email %></td>
        <td><%=  button_to '+', user_contact_requests_path(user), method: :post, id: user.id  %></td>
      </tr>
    <% end %>

    </tbody>
</table> -->

