<h1><%= @user.username %></h1>

<table>
  <tr>
    <td><%= I18n.t('user.attributes.firstname') %></td>
    <td><%= @user.firstname %></td>
  </tr>
  <tr>
    <td><%= I18n.t('user.attributes.lastname') %></td>
    <td><%= @user.lastname %></td>
  </tr>
  <tr>
    <td><%= I18n.t('user.attributes.email') %></td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td><%= I18n.t('user.attributes.place_of_residence') %></td>
    <td><%= @user.place_of_residence %></td>
  </tr>
  <tr>
    <td><%= I18n.t('user.attributes.birthdate') %></td>
    <td><%= @user.birthdate %></td>
  </tr>
</table>

<table>
  <thead>
    <tr>
      <th>Social network</th>
      <th>User name</th>
    </tr>
  </thead>

  <tbody>
    <% @user.social_accounts.each do |social_account| %>
      <tr>
        <td><%= social_account.social_network %></td>
        <td><%= social_account.user_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? && current_user.id == @user.id %>
  <%= render 'status_form' %>
<% else %>
  <p><%= "#{I18n.t('user.status.current')}: #{@user.current_status}" %></p>
<% end %>
