<h1><%= @user.username %></h1>

<div>
  <%= image_tag @user.avatar, height: 50, width: 50,  class: "rounded-circle" %>
</div>

<table>
  <tr>
    <td><%= I18n.t('user.attributes.firstname') %></td>
    <td><%= @user.firstname %></td>
  </tr>
  <tr>
    <td><%= I18n.t('user.attributes.lastname') %></td>
    <td><%= @user.lastname %></td>
  </tr>
  <tr>
    <td><%= I18n.t('user.attributes.email') %></td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td><%= I18n.t('user.attributes.place_of_residence') %></td>
    <td><%= @user.place_of_residence %></td>
  </tr>
  <tr>
    <td><%= I18n.t('user.attributes.birthdate') %></td>
    <td><%= @user.birthdate %></td>
  </tr>
</table>

<% if @user.social_accounts.any? %>
  <h2> <%= I18n.t('social_accounts.show.social_accounts_heading') %> </h2>
  <table>
    <% @user.social_accounts.each do |social_account| %>
      <tr>
        <%= render 'social_accounts/social_account', social_account: social_account %>
      </tr>
    <% end %>
  </table>
<% end %>

<% if user_signed_in? && current_user.id == @user.id %>
  <%= render 'common/status_dropdown' %>
<% else %>
  <p><%= "#{I18n.t('user.status.current')}: #{@user.current_status}" %></p>
<% end %>
