<h1 class="center-heading"><%= I18n.t('dashboard.current_proposals') %></h1>
<div id="proposals" class="scroll-list scroll-styled">
  <div class="card proposal">
    <div class="card-body">
      <h4 class="card-title">Talk with Eva</h4>
      <p class="card-text text-sm">Eva posted "Let's talk about backing cookies". Let's start a talk with her about her latest post!</p>
      <button class="btn btn-outline-light"><%= I18n.t('dashboard.accept_proposal') %></button>
    </div>
  </div>

  <div class="card proposal">
    <div class="card-body">
      <h4 class="card-title">Schedule Talk with John</h4>
      <p class="card-text text-sm">Talk to John would be nice. He is free tomorrow at 6 pm. Let's invite him to a talk!</p>
      <button class="btn btn-outline-light"><%= I18n.t('dashboard.accept_proposal') %></button>
    </div>
  </div>

  <div class="card proposal">
    <div class="card-body">
      <h4 class="card-title">Help Alfred</h4>
      <p class="card-text text-sm">Alfred has a question. Sure you can help him.</p>
      <button class="btn btn-outline-light"><%= I18n.t('dashboard.accept_proposal') %></button>
    </div>
  </div>

  <div class="card proposal">
    <div class="card-body">
      <h4 class="card-title">Talk with Eva</h4>
      <p class="card-text text-sm">Eva posted "Let's talk about backing cookies". Let's start a talk with her about her last post!</p>
      <button class="btn btn-outline-light"><%= I18n.t('dashboard.accept_proposal') %></button>
    </div>
  </div>
</div>
