<h1 class="center-heading"><%= I18n.t('dashboard.user_list') %></h1>

<div>
  <%= render 'status_dropdown' %>
</div>

<div id="search_status_dropdown">
  <%= form_with(url: root_path, method: :get) do |f| %>
      <%= f.label(:filter_status, I18n.t('user.status.filter')) %>
      <%= f.select(:filter_status, options_for_select(User.select_filter_status_list, @status_filter),
                   {}, {onchange: "this.form.submit()", class: "form-control"}) %>
  <% end %>
</div>

<div id="filtered_user_list" class="user-list scroll-list scroll-styled">
  <% @users.each do |user| %>
    <div class="user-list-item d-flex">
      <div class="user-avatar d-flex">
        <span><i class="fa fa-user"></i></span>
      </div>
      <div class="col user-name">
        <%= user.username %>
      </div>
      <div class="user-meeting d-flex">
        <span><i class="fa fa-phone fa-flip-horizontal"></i></span>
      </div>
    </div>
  <% end %>
</div>
