<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'home_mobile', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="dashboard">

  <div id="content">
    <div class="tab-content">
      <div id="users" class="tab-pane fade show active">
        <%= render 'users' %>
      </div>
      <div id="chat" class="tab-pane fade">
        <%= render 'chat' %>
      </div>
      <div id="activities" class="tab-pane fade">
        <%= render 'activities' %>
      </div>
      <div id="proposals" class="tab-pane fade">
        <%= render 'proposals' %>
      </div>
    </div>
  </div>

  <div id="navigation">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#users">
          <i class="fa fa-group"></i>
        </a></li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#chat">
          <i class="fa fa-comments"></i>
        </a></li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#activities">
          <i class="fa fa-bell"></i>
        </a></li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#proposals">
          <i class="fa fa-envelope-open"></i>
        </a></li>
    </ul>
  </div>
</div>
