<div class="row" id="dashboard-row">
  <div class="col-sm" id="control-container">
    <%= render 'status' %>
    <%= render 'user_list' %>
  </div>
  <%= render 'chat' %>
  <%= render 'activities' %>
  <%= render 'proposals' %>
</div>
