<h1>My Contacts</h1>

<% if user_signed_in? %>

  <p><%= button_to 'View my requests', user_contact_requests_path(current_user), method: :get, :class => "btn btn-outline-primary"  %></p>

  <% @contacts.each do |contact| %>
    <div class="card" onclick="location.href='<% user_contacts_path(contact) %>';" style="cursor: pointer;">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-xs">
              <%= image_tag contact.avatar, height: 65, width: 65,  class: "rounded-circle" %>
            </div>
            <div class="col">
              <h5 class="card-title"><%= contact.name %></h5>
              <p class="card-link"><i><%= contact.email %></i></p>
            </div>
          </div>
          <% if contact.social_accounts.any? %>
            <div class="row">
              <% contact.social_accounts.each do |social_account| %>
                <div class="col">
                  <a href=<%= generate_link(social_account) %>>
                    <i class="fa <%= generate_icon(social_account) %> fa-4x" aria-hidden="true"></i>
                  </a>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <br>
  <%end %>
<% end %>
