<% if user_signed_in? %>
  <div id="navigation">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
         <label class="nav-bar-entry">
            <a class="nav-link footer-nav-link <%= active_link_to_class(root_path, active: :exclusive)%>" href="<%= root_url %>">
            <i class="fa fa-home"></i>
          </a>
        </label>
      </li>
      <li class="nav-item">
          <label class="nav-bar-entry">
          <a class="nav-link footer-nav-link <%= active_link_to_class(chat_path, active: :exclusive)%>" href="<%= chat_path %>">
            <i class="fa fa-comments"></i>
          </a>
        </label>
      </li>
      <li class="nav-item">
        <label class="nav-bar-entry">
          <a class="nav-link footer-nav-link <%= active_link_to_class(user_contacts_path(current_user), active: :exclusive)%>" 
            href="<%= user_contacts_path(current_user) %>">
            <i class="fa fa-address-book"></i>
          </a>
        </label>
      </li>
      <li class="nav-item">
        <!-- please add the right path here when history view created -->
        <label class="nav-bar-entry">
          <a class="nav-link footer-nav-link" href="">
            <i class="fa fa-history"></i>
          </a>
        </label>
      </li>
      <li class="nav-item">
        <label class="nav-bar-entry">
          <a class="nav-link footer-nav-link <%= active_link_to_class(edit_user_path(current_user), active: :exclusive)%>" 
            href="<%= edit_user_path(current_user) %>">
            <i class="fa fa-cog"></i>
          </a>
        </label>
      </li>
    </ul>
  </div>
<% end %>
