<!doctype html>
<html lang="en">
<head>
  <title>Connections Portal</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render "layouts/navbar" %>

<div class="container">
  <% if notice %><div class="alert alert-success notice" role="alert"><%= notice %></div><% end %>
  <% if alert %><div class="alert alert-danger" role="alert"><%= alert %></div><% end %>
  <%= yield %>
</div>
</body>
</html>